# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

# Section 1

Section 1 content

In [4]:
# import library

import pandas as pd

### Load the Insurance_dataset from Kaggle

[link dataset on Kaggle](https://www.kaggle.com/datasets/willianoliveiragibin/healthcare-insurance/data)

In [5]:
df = pd.read_csv('../data\inputs\insurance_dataset.csv')
df

<>:1: SyntaxWarning: invalid escape sequence '\i'
<>:1: SyntaxWarning: invalid escape sequence '\i'
C:\Users\slych\AppData\Local\Temp\ipykernel_12292\2254197651.py:1: SyntaxWarning: invalid escape sequence '\i'
  df = pd.read_csv('../data\inputs\insurance_dataset.csv')

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
# View basic info and sample data
df.head()
df.tail

<bound method NDFrame.tail of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [7]:
# view data types
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

---

In [ ]:
# view Shape of the dataset: number of rows and columns
df.shape

(1338, 7)

In [9]:
# 2. Identify Missing Data
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [10]:
# Identify duplicate rows
df.duplicated().sum()

np.int64(1)

In [12]:
# Summary statistics of the dataset
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Summary of initilal datase exploration before cleaning and transformation

| Feature    | Data Type | Description                                                  | Observations / Issues Detected                     |
| ---------- | --------- | ------------------------------------------------------------ | -------------------------------------------------- |
| `age`      | Integer   | Age of the policyholder                                      | Ranges from 18 to 64 years. No missing values.     |
| `sex`      | Object    | Gender of the individual (`male`, `female`)                  | Two unique values. May need encoding for modeling. |
| `bmi`      | Float     | Body Mass Index – a health metric based on height and weight | Continuous values. No missing values.              |
| `children` | Integer   | Number of dependents covered under the insurance             | Ranges from 0 to 5. No missing values.             |
| `smoker`   | Object    | Smoking status (`yes`, `no`)                                 | Strong predictor. Needs conversion to numeric.     |
| `region`   | Object    | Geographic region (`northeast`, `southeast`, etc.)           | Categorical. Four unique values. No missing data.  |
| `charges`  | Float     | Insurance cost billed                                        | Highly skewed to the right. Target variable.       |

# Section 2

2. Transform: Clean and prepare the data

In [13]:
# Create BMI data categories
def bmi_category(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 24.9:
        return 'Normal weight'
    elif 25 <= bmi < 29.9:
        return 'Overweight'
    else:
        return 'Obesity'

In [ ]:
# A. Apply the function to create a new column

df['bmi_category'] = df['bmi'].apply(bmi_category)

In [16]:
# B. Encode Categorical Variables (One-Hot Encoding)

# One-hot encode categorical variables, dropping the first to avoid dummy variable trap

df_encoded = pd.get_dummies(
    df, 
    columns=['sex', 'smoker', 'region', 'bmi_category'], 
    drop_first=True
)

In [ ]:
# View the first and last few rows of transformed data
df_encoded.head(), df_encoded.tail()

(   age     bmi  children      charges  sex_male  smoker_yes  region_northwest  \
 0   19  27.900         0  16884.92400     False        True             False
 1   18  33.770         1   1725.55230      True       False             False
 2   28  33.000         3   4449.46200      True       False             False
 3   33  22.705         0  21984.47061      True       False              True
 4   32  28.880         0   3866.85520      True       False              True

    region_southeast  region_southwest  bmi_category_Obesity  \
 0             False              True                 False
 1              True             False                  True
 2              True             False                  True
 3             False             False                 False
 4             False             False                 False

    bmi_category_Overweight  bmi_category_Underweight
 0                     True                     False
 1                    False                     False
 2                    False                     False
 3                    False                     False
 4                     True                     False  ,
       age    bmi  children     charges  sex_male  smoker_yes  \
 1333   50  30.97         3  10600.5483      True       False
 1334   18  31.92         0   2205.9808     False       False
 1335   18  36.85         0   1629.8335     False       False
 1336   21  25.80         0   2007.9450     False       False
 1337   61  29.07         0  29141.3603     False        True

       region_northwest  region_southeast  region_southwest  \
 1333              True             False             False
 1334             False             False             False
 1335             False              True             False
 1336             False             False              True
 1337              True             False             False

       bmi_category_Obesity  bmi_category_Overweight  bmi_category_Underweight
 1333                  True                    False                     False
 1334                  True                    False                     False
 1335                  True                    False                     False
 1336                 False                     True                     False
 1337                 False                     True                     False  )

In [20]:
# Save the transformed dataset to a new CSV file
df_encoded.to_csv('../data/outputs/insurance_dataset_transformed.csv', index=False)

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)